@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;200;300;400;500;600;700;800&display=swap&#39;');


* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franllklin', sans-serif;
}


/* .about aside {
    display: flex;
    border: 5px dotted black;
    width: 40%;
    padding: 1px;
}

aside > span {
    width: 100%;
    border-top: 5px dotted black;
} */

:root {
    --defaultColor : #55A2A6;
    --defaultBlack : #151515;
    --lightBlack : #333333;
    --darkerBlack : #111111;
    --lightBlack2 : #444444;
    --defaultGray : #CCC;
    --darkerGray : #B2B2B2;
}

html {
    scroll-behavior: smooth;

}

body,
nav,
main,
footer,
main > section,
.features a,
.about > blockquote,
.about > section > article {
    display: flex;
    flex-direction: column;
}

h1 {
    color: var(--darkerBlack);
}

h1, h3 {
    text-transform: capitalize;
}

h2 {
    color: white;
    text-transform: uppercase;
}

h3 {
    color: var(--lightBlack2);
}

a {
    text-decoration: none;
}

@media (min-width: 250px) {

    /* NAV */

    nav > ul {
        display: none;
    }

    nav aside {
        display: flex;
        justify-content: space-between;
        background-color: var(--darkerBlack);
        color: white;
        align-items: center;
    }

    nav h2 {
        padding-left: 4vh;
    }

    details {
        position: absolute;
        width: 95%;
        padding-right: 5%;
        text-align: right;
    }

    details ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--darkerBlack);
    }

    details li {
        display: flex;
    }

    details a {
        width: 100%;
        color: white;
        padding: 3%;
    }

    summary {
        font-size: 24px;
    }

    
    header {
        background-image: url("/img/bg_header.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 40vh;
    }

    header > article {
        width: 100%;
        height: 100%;
        background-color: rgba(50, 50, 50, 0.4);
    }

    main {
        row-gap: 5vh;
    }


    /* FEATURES */

    .features {
        row-gap: 5vh;
    }

    .features blockquote {
        line-height: 1.5;
        color: white;
        background-color: var(--defaultColor);
        padding: 4%;
        padding-left: 20%;
        padding-right: 20%;
        text-align: center;
    }

    .features q,
    .features cite {
        width: 80%;
    }

    .features > article {
        display: flex;
        flex-direction: column;
        padding-top: 5vh;
        padding-bottom: 5vh;
        row-gap: 10vh;
    }

    .features a {
        color: var(--darkerBlack);
        align-items: center;
        row-gap: 2vh;
    }

    .features i {
        font-size: 48px;
    }

    .features h3 {
        width: 40%;
        text-align: center;
    }

    .features p {
        color: var(--darkerGray);
        font-weight: 500;
    }



}
